/* =Content
----------------------------------------------- */

.site-content {
	@include outer-container;
	background-color: #d5eefb;
	.content-area {
		@include span-columns(8);
		background-color: #aadbf5;
		padding-left: 30px;
	}
	.widget-area {
		@include span-columns(4);
		background-color: #aadbf5;
		padding: 40px;
	}
}

.sticky {
}
.hentry {
	margin: 0 0 $vspacing;
}
.byline,
.updated {
	display: none;
}
.single, .group-blog {
	.byline {
		display: inline;
	}
}
.page-content,
.entry-content,
.entry-summary {
	margin: $vspacing 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 $vspacing;
}