/* =Content
----------------------------------------------- */

/*
 *  Posts and Pages
 */

// Typography
.entry-header {
    padding-top: $vspacing;
    margin-bottom: $vspacing;
    @media screen and (max-width: $entry-text-small) {
        padding-top: 25px;
        margin-bottom: 25px;
    }
    .entry-title {
        font-weight: 300;
        font-size: 40px;
        font-size: 4rem;
        line-height: 1.3em;
        color: $entry-title;
        a {
            text-decoration: none;
        }
        @media screen and (max-width: $entry-text-small) {
            font-size: 32px;
            font-size: 3.2rem;
            line-height: 1.3em;
        }
    }
    .entry-meta a {
        &:hover {
            color: $entry-title;
        }
    }
}

.entry-content {
    a { 
        text-decoration: underline; 
    }
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0.4em;
        font-weight: 300;
    }
    h1 {
        font-size: 32px;
        font-size: 3.2rem;
        @media screen and (max-width: $entry-text-small) {
            font-size: 28px;
            font-size: 2.8rem;
        }
    }
    h2 {
        font-size: 30px;
        font-size: 3.0rem;
        @media screen and (max-width: $entry-text-small) {
            font-size: 26px;
            font-size: 2.6rem;
        }
    }
    h3 {
        font-size: 28px;
        font-size: 2.8rem;
        @media screen and (max-width: $entry-text-small) {
            font-size: 24px;
            font-size: 2.4rem;
        }
    }
    h4 {
        font-size: 26px;
        font-size: 2.6rem;
        @media screen and (max-width: $entry-text-small) {
            font-size: 22px;
            font-size: 2.2rem;
        }
    }
    h5 {
        font-size: 24px;
        font-size: 2.4rem;
        @media screen and (max-width: $entry-text-small) {
            font-size: 20px;
            font-size: 2rem;
        }
    }
    h6 {
        font-size: 22px;
        font-size: 2.2rem;
        @media screen and (max-width: $entry-text-small) {
            font-size: 18px;
            font-size: 1.8rem;
        }
    }
    p, ul, ol {
        font-size: 19px;
        font-size: 1.9rem;
        font-weight: 300;
        line-height: 1.6em;
        @media screen and (max-width: $entry-text-small) {
            font-size: 17px;
            font-size: 1.7rem;
        }
    }
    blockquote {
        p {
            font-size: 25px;
            font-size: 2.5rem;
            line-height: 1.5em;
            @media screen and (max-width: $entry-text-small) {
                font-size: 19px;
                font-size: 1.9rem;
            }
        }
    }
}

.site-main {

    .page-header {
        margin: 0 auto;
        padding: $vspacing 4rem 0;
            @media screen and (max-width: $entry-text-small) {
                padding-top: 25px;
            }

        .page-title {
            font-weight: 100;
            font-size: 30px;
            font-size: 3rem;
            color: $header-color;
            text-transform: uppercase;
        }
    }
}

// Meta
.entry-footer {
    font-family: $header-font;
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: 300;
    color: $entry-footer-text;
    a {
        text-decoration: none;
        color: $entry-footer-text;
        font-weight: 700;
        &:hover {
            color: #000;
        }
    }

    .category-list:before {
        font-family: 'Fontawesome';
        content: '\f07c';
        -webkit-font-smoothing: antialiased;
        padding-right: 10px;
        vertical-align: top;
    }

    .tag-list:before {
        font-family: 'Fontawesome';
        content: '\f02b';
        -webkit-font-smoothing: antialiased;
        padding-right: 10px;
        vertical-align: top;
    }

    .edit-link a {
        display: inline-block;
        margin-top: 3em;
        padding: 0.5em 1em;
        color: $button;
        font-size: 17px;
        font-size: 1.7rem;
        font-weight: 400;
        text-transform: uppercase;
        border: 2px solid $button;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;

        &:hover {
            color: $button-hover;
            border-color: $button-hover;
        }
    }
}

// page header
.header-container {
    display: table;
    height: 275px;
    width: 955px;
    margin: 0 auto;
    text-align: center;

    .header-image {
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: -1;
        position: fixed;
        height: 100%;
        background-size: cover;
        background-position: 50% 0%;
        background-repeat: no-repeat;
    }

    .page-header {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 65px;
        font-size: 6.5rem;
        
        .page-title {
            text-align: center;
            text-shadow: 0 1px 6px rgba(0,0,0,0.3);
            color: $featured-image-banner-text;
            font-weight: 100;
            width: 955px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:before {
                font-family: 'Fontawesome';
                -webkit-font-smoothing: antialiased;
                padding-right: 5px;
                vertical-align: top;
            }
        }

        .page-title-404:before {
            content: '\f057';
        }

        .page-title-search:before {
            content: '\f002';
        }
    }
}



/*
 *  Other
 */

.sticky {
}
.hentry {
	margin: 0 0 $vspacing;
}

.updated {
	display: none;
}
.single, .group-blog {
	.byline {
		display: inline;
	}
}
.page-content,
.entry-summary {
	margin: $vspacing 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 $vspacing;
}