.site-footer {
    padding: 2em 2em 1.3em 2em;
    font-family: $footer-font;
    @include font-size(14);
    font-weight: 100;
    color: $footer-text;
    background: $footer-background;

    a {
        color: $footer-text;
    }
}

.site-info {
	margin: 0 auto;
	border-top: 1px solid #666;
	padding-top: 1.3em;
	font-size: 15px;
	font-size: 1.5rem;
}