.site-branding {
    padding: 1rem 3rem;
    text-align: left;
    background: $header-background;
    @media screen and (max-width: 600px) {
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    .site-title {
        font-weight: 700;
        // font-size: 20px;
        // font-size: 2.25rem;
        @include font-size(18);
        text-transform: uppercase;
        line-height: normal;
        a {
            color: $header-text;
        }
    }

    .site-description {
        font-weight: 100;
        // font-size: 15px;
        // font-size: 1.5rem;
        @include font-size(13);
        color: $header-text;
    }
}
                    
.title-box {
    width: 600px;
    max-width: 75%;
    padding: 4rem;
    margin: 0 auto;
    border: solid 1px #fff;
    border: solid 1px hsla(0, 0%, 100%, .3);
    @media screen and (max-width: 600px) {
        max-width: 100%;
        margin: 0;
        padding: 4rem;
        border: none;
    }
}
                    
.site-branding a { 
    text-decoration: none; 
}

.site-title a,
.site-description { 
    color: #fff;
    color: hsl(0, 0%, 100%);
}
