.site-header {
    background: $header-background;

    .site-branding {
        padding: 1rem 3rem;
        text-align: left;
        float: left;

        overflow: hidden;
        @media screen and (max-width: 600px) {
            padding: 0;
        }
        a {
            text-decoration: none;
        }

        .logo {
            display: inline;
            img {
                float: left;
                max-width: 100%;
                margin-right: 10px;
            }
        }

        .site-title {
            display: inline;
            font-weight: 100;
            @include font-size(23);
            clear: none;
            line-height: normal;
            a {
                color: $header-text;
                line-height: 40px;
            }
        }

        .site-description {
            position: absolute;
            clip: rect(1px, 1px, 1px, 1px);
        }


        .mobile-menu-icon:before {
            display: inline-block;
            font-style: normal;
            padding: 0 5px;
            vertical-align: top;
            font-family: 'Fontawesome';
            font-size: 20px;
            color: #fff;
            -webkit-font-smoothing: antialiased;
            content: '\f0c9';
        }
    }

    /* Header search */
    .search-toggle {
        float: right;
        //width: 54px;
        //height: 54px;
        //padding: 12px;
        margin-right: 20px;
        color: $header-text;
        text-align: center;
        cursor: pointer;

        height: 3.75em;
        padding: 0 1em;
        // font-weight: normal;
        // font-size: 14px;
        // font-size: 1.4rem;
        // text-decoration: none;
        line-height: 3.75em;

        &:hover, &.active {
            background: $sub-menu-background;
        }
    }

    .search-box-wrapper {
        clear: both;
        z-index: 2;
        width: 100%;
        display: none;

        .search-box {
            padding: 1em;
            background: $sub-menu-background;

            .search-field {
                max-width: 362px;
                float: right;
                padding: 0.5rem 1rem;
                font-size: 21px;
                font-size: 2.1rem;
                font-weight: 300;
                background-color: $search-field-background;
                border: 0;
            }
        }
    }

    input[type="search"] {
        box-sizing: border-box;
        width: 100%;
        color: $text-area-text;
    }

    // Hides the search button on all pages that display it by default
    .error404 .search-submit,
    .search .search-submit,
    .search-box .search-submit { 
        display: none; 
    }
}
