.site-header {
    background: $header-background;

    .site-branding {
        padding: 1rem 3rem;
        text-align: left;
        float: left;

        overflow: hidden;
        @media screen and (max-width: 600px) {
            padding: 0;
        }
        a {
            text-decoration: none;
        }

        .logo {
            display: inline;
            img {
                float: left;
                max-width: 100%;
                margin-right: 10px;
            }
        }

        .site-title {
            display: inline;
            font-weight: 100;
            @include font-size(23);
            clear: none;
            line-height: normal;
            a {
                color: $header-text;
                line-height: 40px;
            }
        }

        .site-description {
            position: absolute;
            clip: rect(1px, 1px, 1px, 1px);
        }

        .mobile-menu-icon:before {
            display: inline-block;
            font-style: normal;
            padding: 0 5px;
            vertical-align: top;
            font-family: 'Fontawesome';
            font-size: 20px;
            color: #fff;
            -webkit-font-smoothing: antialiased;
            content: '\f0c9';
        }
    }
}
