.site-header {
    background: $header-background;
    z-index: 10;

    .site-branding {
        padding: 1rem 3rem;
        text-align: left;
        float: left;
        overflow: hidden;
        @media screen and (max-width: $break-small) {
            padding: 0.5rem 2rem;
        }
        a {
            text-decoration: none;
        }

        .logo {
            display: inline;
            img {
                float: left;
                max-width: 100%;
                margin-right: 10px;
                @media screen and (max-width: $break-small) {
                    width: 30px;
                    padding: 2.5px 0;
                }
            }
        }

        .site-title {
            display: inline;
            font-weight: 100;
            font-size: 26px;
            font-size: 2.6rem;
            clear: none;
            line-height: normal;
            @media screen and (max-width: $break-small) {
                font-size: 22px;
                font-size: 2.2rem;
                line-height: 35px;
            }
            a {
                color: $header-text;
                line-height: 40px;
                @media screen and (max-width: $break-small) {
                    line-height: 35px;
                }
            }
        }

        .site-description {
            position: absolute;
            clip: rect(1px, 1px, 1px, 1px);
        }

        .mobile-menu-icon:before {
            display: inline-block;
            font-style: normal;
            padding: 0 5px;
            vertical-align: top;
            font-family: 'Fontawesome';
            font-size: 20px;
            color: #fff;
            -webkit-font-smoothing: antialiased;
            content: '\f0c9';
        }
    }
}

// Page header containing featured image
.header-container {
    display: table;
    height: 275px;
    margin: 0 auto;
    text-align: center;
    max-width: 955px;

    .header-image {
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: -1;
        position: fixed;
        height: 100%;
        background-size: cover;
        background-position: 50% 0%;
        background-repeat: no-repeat;
    }

    .page-header {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 65px;
        font-size: 6.5rem;
        @media screen and (max-width: 955px) {
            font-size: 5.5rem;
        }
        @media screen and (max-width: 550px) {
            font-size: 4.5rem;
        }
        @media screen and (max-width: 500px) {
            font-size: 4rem;
        }
        @media screen and (max-width: 400px) {
            font-size: 3.5rem;
        }
        @media screen and (max-width: 350px) {
            font-size: 2.5rem;
        }
        @media screen and (max-width: 300px) {
            font-size: 2rem;
        }
        
        .page-title {
            text-align: center;
            text-shadow: 0px 1px 5px #000;
            color: $featured-image-banner-text;
            font-weight: 100;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 955px;
            @media screen and (max-width: 955px) {
                width: 800px;
            }
            @media screen and (max-width: 800px) {
                width: 650px;

                span {
                    display: block;
                }
            }
            @media screen and (max-width: 650px) {
                width: 500px;
            }
            @media screen and (max-width: 500px) {
                width: 400px;
                font-weight: 300;
            }
            @media screen and (max-width: 400px) {
                width: 350px;
            }
            @media screen and (max-width: 350px) {
                width: auto;
            }

            &:before {
                font-family: 'Fontawesome';
                -webkit-font-smoothing: antialiased;
                padding-right: 5px;
                vertical-align: top;
            }
        }

        .page-title-404:before {
            content: '\f057';
        }

        .page-title-search:before {
            content: '\f002';
        }
    }
}