/* =index
----------------------------------------------- */

/*
 *  Index and Archive Pages
 */

.read-more a {
	padding: .6em 1em;
	font-size: 17px;
	font-size: 1.7rem;
	font-weight: 400;
	font-family: $base-font;
	text-transform: uppercase;
	line-height: 1;
	color: $button;
	border: 2px solid $button;
	webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;

	@media screen and (max-width: $read-more-small) {
		display: block;
		text-align: center;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	&:hover {
		color: $button-hover;
		border-color: $button-hover;
	}
}
