/* =index
----------------------------------------------- */

/*
 *  Index and Archive Pages
 */

.read-more a {
	padding: .6em 1em;
	font-size: 17px;
	font-size: 1.7rem;
	font-weight: 400;
	font-family: $base-font;
	text-transform: uppercase;
	line-height: 1;
	color: $button;
	border: 2px solid $button;
	@include border-radius( 4px );
	cursor: pointer;

	@media screen and (max-width: $break-small) {
		display: block;
		text-align: center;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	&:hover {
		color: $button-hover;
		border-color: $button-hover;
	}
}

.sticky {
	border-bottom: 2px dashed #ccc;

	.entry-title:before {
        font-family: 'Fontawesome';
        content: '\f08d';
        -webkit-font-smoothing: antialiased;
        padding-right: 10px;
        vertical-align: top;
    }

    .index-box {
    	padding-bottom: 5rem;
    	@media screen and (max-width: $break-small) {
    		padding-bottom: 4rem;
		}
    }
}