// Layout: Content-Sidebar
@if $layout == content-sidebar {

	.site-main {
		background: $site-main-background;
	}

	.site-content {
		padding-bottom: 4em;
		.widget-area { /* Sidebar 1 */
			width: 342px;
			float: right;
			padding: 4rem;
			background: $widget-area-background;
			@media screen and (max-width: $break-small - 1) {
				width: auto;
				max-width: $widget-area-tablet-width;
				float: none;
				margin: 1em auto 0 auto;
			}
		}
	}

    .entry-header,
    .entry-content,
    .entry-footer,
    .tag-links,
    .post-navigation,
    .comments-area,
    .paging-navigation {
    	position: relative;
	    max-width: 780px;
	    max-width: 78rem;
	    padding: 0 4rem;
	    margin: 0 auto;
    	@media screen and (min-width: $break-small) and (max-width: $break-large - 1) {
        	margin-right: 0; // TODO
    	}
    }

    .entry-meta {
    	position: relative;
	    max-width: 780px;
	    max-width: 78rem;
	    margin: 0 auto;
	    color: $text-color-light;
	    font-weight: 300;
		font-size: 14px;
	    a {
	    	color: $text-color-light;
	    	font-weight: 300;
			font-size: 14px;
	    }
    }
	    
	.content-area {
		@media screen and (min-width: $break-large) {
		    width: 100%;
			float: left;
			margin-left: -342px;
			padding-left: 342px;
		}
		@media screen and (min-width: $break-small) and (max-width: $break-large - 1) {
			width: 100%;
	        float: left;
	        margin-left: -342px;
	        padding-left: 342px;
		}
	}

	.site-footer {
	    clear: both;
	    width: 100%;
	}
}

// Layout: Sidebar-Content
@else if $layout == sidebar-content {
	.content-area {
		float: right;
		margin: 0 0 0 -25%;
		width: 100%;
	}
	.site-main {
		margin: 0 0 0 25%;
	}
	.site-content .widget-area { /* Sidebar 1 */
		float: left;
		overflow: hidden;
		width: 25%;
	}
}

@if $layout != null {
	.site-footer {
		clear: both;
		width: 100%;
	}
}
