// Layout: Content-Sidebar
@if $layout == content-sidebar {

	.site-main {
		background: $site-main-background;

		.index-box {
			max-width: 780px;
		    max-width: 78rem;
		    margin: 0 auto 2em;

		    .small-index-thumbnail {
				padding: 4rem 4rem 0;
		    }

		    .entry-content {
		    	.search-form {
		    		.search-field {
		    			box-sizing: border-box;
		    			width: 100%
		    		}
		    		.search-submit {
		    			display: none;
		    		}
		    	}
			    p {
			    	margin-bottom: 50px;
			    }
			}
			
			blockquote.alignleft {
				border: none;
				@media screen and (min-width: 1320px) {
			    	padding-left: 2em;
				}
			}

			blockquote.alignright {
			    border: none;
			    @media screen and (min-width: 1820px) {
			    	padding-right: 2em;
				}
			}
		}

		.content-none-page-header {
		    margin-bottom: 0;
		}
	}

	.site-content {
		margin-top: 275px; //TODO: change no-sidebar to match this
		background: $site-main-background;

		.widget-area { /* Sidebar 1 */
			width: 342px;
			float: right;
			padding: 4rem;
			background: $widget-area-background;
			@media screen and (max-width: $break-small - 1) {
				width: auto;
				max-width: $widget-area-tablet-width;
				float: none;
				margin: 1em auto 0 auto;
			}
		}
	}

    .entry-header,
    .entry-content,
    .entry-footer,
    .tag-links,
    .post-navigation,
    .comments-area,
    .paging-navigation,
    .index-box {
    	position: relative;
	    max-width: 780px;
	    max-width: 78rem;
	    padding: 0 4rem;
	    margin: 0 auto;
    	@media screen and (min-width: $break-small) and (max-width: $break-large - 1) {
        	margin-right: 0; // TODO
    	}
    }

    .entry-meta {
    	position: relative;
	    max-width: 780px;
	    max-width: 78rem;
	    margin: 0 auto;
	    color: $text-color-light;
	    font-weight: 300;
		font-size: 14px;
	    a {
	    	color: $text-color-light;
	    	font-weight: 300;
			font-size: 14px;
	    }
    }
	    
	.content-area {
		@media screen and (min-width: $break-large) {
		    width: 100%;
			float: left;
			margin-left: -342px;
			padding-left: 342px;
			padding-bottom: 4em;
		}
		@media screen and (min-width: $break-small) and (max-width: $break-large - 1) {
			width: 100%;
	        float: left;
	        margin-left: -342px;
	        padding-left: 342px;
	        padding-bottom: 4em;
		}
	}

	.site-footer {
	    clear: both;
	    width: 100%;
	}
}

// Layout: Sidebar-Content
@else if $layout == sidebar-content {
	.content-area {
		float: right;
		margin: 0 0 0 -25%;
		width: 100%;
	}
	.site-main {
		margin: 0 0 0 25%;
	}
	.site-content .widget-area { /* Sidebar 1 */
		float: left;
		overflow: hidden;
		width: 25%;
	}
}

@else if $layout == no-sidebar {
	.site-content {
		margin-top: 250px;
		background: $site-main-background;
	}

    .entry-header,
    .entry-content,
    .entry-footer,
    .tag-links,
    .post-navigation,
    .comments-area,
    .paging-navigation,
    .index-box {
    	position: relative;
	    max-width: 780px;
	    max-width: 78rem;
	    padding: 0 4rem;
	    margin: 0 auto;
    }

	.site-footer {
	    clear: both;
	    width: 100%;
	}
}

@if $layout != null {
	.site-footer {
		clear: both;
		width: 100%;
	}
}
