// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.

// Base Font
$base-font: 'Roboto', sans-serif;

// Base Color Scheme
$body-background: #fff;
$site-main-background: #fff;
$widget-area-background: #f9f9f9;
$text-color: #4d4d4d;
$text-color-light: #bfbfbf; //#9d9d9d - darker for better visibility?
$header-color: #333; // TODO: remove all instances of this and use $header-background below
$link-color: $text-color;
$link-visited: $text-color;

// Media Queries
$break-small: 985px;
$break-large: 1540px;
$widget-area-tablet-width: 780px;
$entry-text-small: 680px;
$prev-next-nav-small: 600px;
$read-more-small: 650px;

// Header
$header-font: $base-font;
$header-background: #333; // TODO: make this transparent?
$header-text: #fff;
$sub-menu-background: lighten( $header-background, 10% );
$mobile-menu-current-page: #999;

// Content
$featured-image-banner-text: #fff;
$entry-title: #333;
$entry-footer-text: #9d9d9d;
$entry-footer-links: #333;

// Form fields and text areas
$search-field-background: #fff;
$text-area-text: $text-color;
$input-border: #ddd;
$button: #ddd;
$button-hover: $text-color;

// Footer
$footer-background: $header-background;
$footer-text: $header-text;
$footer-font: $base-font;

// Widgets
$widget-font: $base-font;
$widget-link-color: $link-color;
$widget-light-text: #9d9d9d;

// Media
$image-caption-border: #e5e5e5;
$gallery-caption-background: $header-background;
$gallery-caption-text: #fff;

// Other
$horizontal-line: #eaeaea;
$post-navigation-text: #ccc;
$post-navigation-text-hover: $text-color;
$blockquote-border: #f5f5f5;
$comment-reply-border: #f5f5f5;
$highlighted-text-color: #e5e5e5;

// Supported Values for $layout:
//  null | content-sidebar | sidebar-content | no-sidebar
// $layout: null !default;
$layout: content-sidebar;
$vspacing: 40px;
