// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.

$base-font: 'Roboto', sans-serif;
$header-font: $base-font;

// Base color scheme
$body-background: #fff;
$site-main-background: #fff;
$widget-area-background: #f9f9f9;
$text-color: #4d4d4d;
$header-color: #000;
$link-color: $text-color;
$link-visited: $text-color;

// Media Queries
$break-small: 985px;
$break-large: 1540px;
$widget-area-tablet-width: 780px;
$entry-text-small: 680px;
$prev-next-nav-small: 600px;

// Header
$header-background: #333;
$header-text: #fff;
$sub-menu-background: lighten( $header-background, 10% );
$mobile-menu-current-page: #999;

// Content
$entry-title: #000;
$entry-footer-links: #333;

// Form fields and text areas
$search-field-background: #fff;
$text-area-text: #666;

// Footer
$footer-background: $header-background;
$footer-text: $header-text;
$footer-font: $base-font;

// Widgets
$widget-font: $base-font;
$widget-link-color: $link-color;
$widget-light-text: #9d9d9d;

// Other
$horizontal-line: #ccc;
$image-caption: #e5e5e5;
$post-navigation-text: #ccc;

// Supported Values for $layout:
//  null | content-sidebar | sidebar-content
// $layout: null !default;
$layout: content-sidebar;
$vspacing: 60px; // try 1.5em?
