/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 $vspacing;
	font-family: $widget-font;
    @include font-size(12);

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}

	a {
	    font-weight: 300;
	    text-decoration: none;
	}

	a:hover {
	    //border-bottom: 1px dotted #666;
	    text-decoration: underline;
	}

	ul, ol {
	    padding: 0;
	    margin: -1em 0 0;
	    list-style-type: none;
	}

	li {
		padding: 0.5em 0 0;
	}

	li ul, li ol {
		margin-top: 0;
	}

	li li {
		margin-left: 1.5em;
	}
}

/* Search widget */
.widget_search {
	.search-field {
		width: 100%;
		box-sizing: border-box;
		padding: 5px 10px;
		@include font-size(16);
		color: $text-area-text;
	}
	.search-submit {
		display: none;
	}
	input[type="search"] {
		color: #666;
	}
}

.widget-title {
    margin-bottom: 1em;
    @include font-size(18);
    font-weight: 100;
    text-transform: uppercase;
    border-top: 1px solid #ccc;
}

.widget_recent_entries li:before,
.widget_recent_comments li:before,
.widget_archive li:before {
    display: block;
    float: left;
    padding-top: 2px;
    margin-left: -2.5em;
    font-family: 'fontawesome';
    @include font-size(11);
} 

.widget_recent_entries li,
.widget_recent_comments li {
	margin: 0 0 .5em 2.4em;
}

.widget_recent_entries li:before {
	content: "\f036";
}

.widget_recent_comments li:before {
	content: "\f075";
}

.widget_archive li {
	margin: 0 0 0 2.3em;
}

.widget_archive li:before {
	content: "\f187";
}

.widget_nav_menu a,
.widget_pages a {
    display: block;
    padding: 0.75em 0;
    border-bottom: solid 1px hsl(0, 0%, 90%);
}

.widget_nav_menu li,
.widget_pages li {
	padding-top: 0;
}

.widget_rss {
	li {
		margin-bottom: .5em;
	}

	.rss-date, cite {
	    display: block;
	    font-size: 85%;
	    color: $widget-light-text;
	    font-weight: 300;
	    font-style: italic;
	}
}


.footer-widgets {
	margin: 0 auto;
}

.footer-widgets .widget-title,
.footer-widgets .widget a:hover {
    color: $footer-text;
    border-color: $footer-text;
}

/*
 *	CHANGE THIS SO THAT THE FOOTER IS MORE RESPONSIVE, LIKE BIGFOOT
 */
.footer-widgets .widget {
    float: left;
    width: 290px; // morton orig: 320px;
    margin: 0 1.5rem 3rem 1.5rem; //0 4rem 8rem 4rem;
    @media screen and (max-width: 1119px) { //1044, then 1119
    	width: 250px;
    }
    @media screen and (max-width: 969px) { //924, then 212
    	width: 212px; //226
    }
    @media screen and (max-width: 819px) { //924, then 212
    	width: 202px; //226
    }
    @media screen and (max-width: 767px) { //797, then 819
    	float: none;
        width: 100%;
        margin: 0 0 8rem;
    }
}

// @media of max-width 1044, .footer-widgets .widget { width = 226px }
// THB One does this at 990px


/* Footer widgets responsive */
@media screen and (max-width: 797px) {
    #footer-widgets { width: 100%!important; }
}
